<!doctype html>
<html>
<head>
    <title>Bill Desjarlais</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>
{{> header }}
<a href=/billd>BillD</a>
<a href=/portfolios>My Projects</a>
{{> footer }}

</body>
</html>
