<!doctype html>
<html>
<head>
    <title>My Projects</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>
{{> header }}
<p>My List of Projects</p>
<ul>
  <li>Selenium</li>
  <li>JMeter</li>
  <li>Node.js</li>
</ul>
{{> footer }}

</body>
</html>
