<!doctype html>
<html>
<head>
    <title>Bill Desjarlais</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>
{{> header }}
<p>This is the body</p>
{{> footer }}

</body>
</html>
