
<!doctype html>
<html>
<head>
    <title>Lake Tahoe</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
<div>
<h1>Lake Tahoe</h1>

<iframe align="right" width="560" height="315" src="https://www.youtube.com/embed/rz1j9PRX1tM" frameborder="0" allowfullscreen></iframe>

<h2>A few facts about Lake Tahoe</h2>


 <img src=images/1280px-Emerald_Bay.jpg width=300 />
 
 <p> Lake Tahoe is a large freshwater lake in the Sierra Nevada of the United States. At a surface elevation of 6,225 ft, it is located along the border between California and Nevada, west of Carson City.</p>
 
 <hr />
 
 <h3>About Lake Tahoe</h3>
 
 <ul>
 <li><strong>Surface elevation:</strong> 6,224'</li>
 <li><strong>Area:</strong>  191.6 mi²</li>
 <li><strong>Length:</strong>  21.75 miles</li>
 <li><strong>Cities:</strong>  South Lake Tahoe, Tahoe City, Sunnyside-Tahoe City, Stateline</li>
 <li><strong>Fish:</strong>  Mosquitofish, Rainbow trout, Sockeye salmon, Brown trout, More</li>
 <li><strong>Islands:</strong>  Fannette Island</li>
 </ul>
 
 <hr />
 
 <h3>Lake Tahoe Weather</h3>
 
 <table>
 <tr><th>Month</th><th>Average Temperature (F)</th><th>Average Snowfall (IN)</th></tr>
 <tr><td>Jan</td><td>32.9</td><td>13.5</td></tr>
 <tr><td>Feb</td><td>33.9</td><td>16.1</td></tr>	
 <tr><td>Mar</td><td>38</td><td>11.8</td></tr>	
 <tr><td>Apr</td><td>41.9</td><td>2</td></tr>	
 <tr><td>May</td><td>49.6</td><td>1</td></tr>	
 <tr><td>Jun</td><td>57.4</td><td>0</td></tr>	
 <tr><td>Jul</td><td>63.7</td><td>0</td></tr>	
 <tr><td>Aug</td><td>63.3</td><td>0</td></tr>	
 <tr><td>Sep</td><td>57.2</td><td>0.1</td></tr>	
 <tr><td>Oct</td><td>48</td><td>1.2</td></tr>	
 <tr><td>Nov</td><td>39.2</td><td>4.3</td></tr>	
 <tr><td>Dec</td><td>32.7</td><td>13.5</td></tr>
 </table>
 
 <hr />
 
 <p>Want to know more?<p>
 
 <form action="http://tahoe.usgs.gov/facts.html">
 
 <input type="submit" value="click here" />
 
 </form>
 
</div>
</body>
</html>
